*:focus:not(:fullscreen),
*[tabindex='0']:hover:not(:fullscreen) {
    background-color: brown;
}

.app-container>div {
    border: 1px solid #555;
    display: flex;
    text-align: center;
}

.app-container {
    border: 2px solid black;
    background-color: #eee;
    page-break-inside: avoid;
}

body {
    font-family: OpenSans, sans-serif;

    --apple-color: #0e1d71;
    --android-color: #0f770f;
}

div.app-container {
    display: inline-grid;
    grid-template-columns: 24% 38% 38%;
    margin: 1em;
}

img {
    margin: 5%;
    max-width: 90%;
    width: 90%;
}

h2 {
    grid-column: 1/4;
    text-align: center;
    flex-grow: 1;
    font-size: 2em;
    margin: 0.3em;
}

.app-name-banner {
    grid-column: 1/4;
    grid-row: 1;
}

div.app-icon {
    grid-column: 1;
    grid-row: 3/6;
}

.app-description {
    grid-row: 2;
    grid-column: 1/4;
}

.os-title-apple {
    grid-row: 3;
    grid-column: 2;
    color: var(--apple-color)
}

.os-title-android {
    grid-row: 3;
    grid-column: 3;
    color: var(--android-color)
}

.qr-container-apple {
    grid-row: 4;
    grid-column: 2;
}

.qr-container-android {
    grid-row: 4;
    grid-column: 3;
}

.app-link-apple {
    grid-row: 5;
    grid-column: 2;
}

.app-link-android {
    grid-row: 5;
    grid-column: 3;
}


.app-container>div.app-icon {
    flex-direction: column;
}

.icon-padding {
    flex-grow: 1;
}

a.a-app-link {
    display: flex;
    flex-grow: 1;
}

button.install-button {
    flex-grow: 1;
    margin: 1em;
    padding: 1em;
}

.install-button-android {
    background-color: var(--android-color);
    color: white;
    font-weight: bold;
    print-color-adjust: exact !important;
}

.install-button-apple {
    background-color: var(--apple-color);
    color: white;
    font-weight: bold;
}


.apps-listing {
    text-align: center;
}

.os-logo {
    display: block;
}

.os-name {
    flex-grow: 1;
}

.os-title {
    padding: 0 10%;
}

.app-out-link,
.app-model-icon {
    font-size: 3em;
}

.unavailable-filler {
    grid-row: 4/6;
    align-content: center;
    flex-wrap: wrap;
}

.all-apps-container {
    display: grid;
}

@media screen and (width >=1600px) {
    .all-apps-container {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media screen and (width >=1200px) and (width <=1600px) {
    .all-apps-container {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (width >=800px) and (width <=1200px) {
    .all-apps-container {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (width <=800px) {
    .all-apps-container {
        grid-template-columns: 100%;
    }
}

@media print {
    .app-out-link {
        display: none;
    }

    .all-apps-container {
        grid-template-columns: 33% 33% 33%;
    }

    .install-button-apple,
    .install-button-android {
        display: none;
    }

    .unavailable-filler {
        font-size: 1.5em;
    }

    h1 {
        font-size: 1em;
    }
}

h1 {
    margin: 0;
    font-size: 3.5em;
}

@font-face {
    font-family: OpenSans;
    src: url('/open-sans-v40-latin-800.woff2') format('woff2');
}

.install-qr {
    object-fit: contain;
}

summary {
    font-size: 2em;
    background-color: #ccc;
    margin-bottom: 0.1em;
}

.fullscreen-decoration {
    display: none;
}

div:fullscreen {
    background-color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

*:fullscreen>.fullscreen-decoration {
    display: flex;
    background: #ccc;
    width: 100%;
    font-size: 2em;
    flex-grow: 1;
}

*:fullscreen>div.fullscreen-footer-text {
    display: inline-block;
}

div:fullscreen>.install-qr {
    max-width: 90%;
    max-height: 65%;
    margin: 0;
    padding: 0;
    flex-grow: 0;
}

p {
    padding: 0;
    margin: 0;
}

img.smallicon {
    height: 3em;
    width: 3em;
}

div.fullscreen-headline-text,
div.fullscreen-footer-text {
    flex-grow: 1;
}

.col-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.col-flex-spacer {
    flex-grow: 1;
}