{% macro install_option(item, platform_name, icon_name, qr_image, app_link) %}
    <div class="os_title_{{platform_name.lower()}} os_title">
        <i class="fa-icon fa-brands {{icon_name}} os_logo"></i>
        <div class=os_name>{{platform_name}}</div>
        <i class="fa-icon fa-brands {{icon_name}} os_logo"></i>
    </div>
    {% if app_link %}
        <div tabindex=0 class="qr_container_{{platform_name.lower()}}">
            <div class="fullscreen_decoration">Install {{item.name}} on {{platform_name}}</div>
            <img src={{qr_image}} class="install_qr imgdiv" alt="QR code to download {{item.name}} for {{platform_name}} devices">
            <div class="fullscreen_decoration exit_fullscreen">Go back to page</div>
        </div>
        <div class="app_link_{{platform_name.lower()}}">
        <a target="_blank" href="{{app_link}}" class="a_app_link" tabindex="-1">
            <button class="install_button install_button_{{platform_name.lower()}}" data-destination="{{app_link}}" tabindex="0" alt="Install link for {{item.name}} on {{platform_name}}">
            Install
            <i class="fa-icon fa-solid fa-up-right-from-square"></i>
            </button>
        </a>
        </div>
    {% else %}
        <div class="unavailable_filler_{{platform_name.lower()}}">Sorry, this app isn't available on this platform</div>
    {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="An app launcher that links to various apps for the blind and visually impared">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            App Toolbox
        </title>
        <link href="fontawesome/css/fontawesome.css" rel="stylesheet" />
        <link href="fontawesome/css/brands.css" rel="stylesheet" />
        <link href="fontawesome/css/solid.css" rel="stylesheet" />
        <link href="static/index.css" rel="stylesheet" />
    </head>
    <body>
        <div class=apps_listing>
        <h1>App Toolbox</h1>
        {% for (group_name, group_apps) in apps_grouped.items() %}
        <details open>
            <summary>{{group_name}} </summary>
            <div class="all_apps_container">
        {% for item in group_apps %}
        <div class="app_container">
                <div class=app_name_banner>
                    {% if item.price_model == "Free" %}
                        <i class="fa-solid fa-earth-europe app_model_icon" title="Free"></i>
                    {% elif item.price_model == "Paid" %}
                        <i class="fa-solid fa-circle-dollar-to-slot app_model_icon" title="Paid"></i>
                    {% else %}
                        <i class="fa-solid fa-question app_model_icon" title="Unknown"></i>
                    {% endif %}
                    <h2>{{item.name}}</h2>
                    {% if item.vendor_site %}
                        <a target="_blank" href={{item.vendor_site}} aria-label="Find out more about {{item.name}}" tabindex="0">
                        <i class="fa-solid fa-arrow-up-right-from-square app_out_link"></i>
                        </a>
                    {% endif %}
                </div>
                <div class="app_description">
                    {{item.description}}
                </div>
                <div class=app_icon>
                <div class="icon_padding"></div>
                {% if "icon" in item %}
                    <img src="icons/{{item.app_id}}.png" class="imgdiv" alt="Icon for {{item.name}}">
                {% endif %}
                <div class="icon_padding"></div>
                </div>
                {{ install_option(item, "Apple", "fa-apple", "qr_codes/apple_"+ item.get("apple_id_str", "")+".svg", item["link_apple"]) }}
                {{ install_option(item, "Android", "fa-android", "qr_codes/android_"+item.get("android_id", "")+".svg", item["link_android"]) }}
            </div>
            {% endfor %}
            </div>
            </details>
            {% endfor %}
        </div>
    </body>
    <script src="/static/index.js"></script>
</html>