<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            App Toolbox
        </title>
        <link href="fontawesome/css/fontawesome.css" rel="stylesheet" />
        <link href="fontawesome/css/brands.css" rel="stylesheet" />
        <link href="fontawesome/css/solid.css" rel="stylesheet" />
        <link href="static/index.css" rel="stylesheet" />
    </head>
    <body>
        <h1>App Toolbox</h1>
        {% for item in data_file %}
        <div class="appCard" class="app_container">
            <h2>{{item.name}}</h2>
            <div class="installer_containers">
                <div class="app_icon_container">
                    {% if "icon" in item %}
                    <img src="icons/{{item.app_id}}.png" class="app_icon">
                    {% endif %}
                    <div class="app_description">
                        {{item.description}}
                    </div>
                </div>
                <div class="install_option">
                    <h3>
                        <div class="os_logo">
                        <i class="fa-icon fa-brands fa-apple"></i>
                        </div>
                        <div class="os_title">
                        Apple
                        </div>
                    </h3>
                    {% if "apple_id" in item %}
                    <div class="image_container">
                    <img src="qr_codes/apple_{{item.apple_id}}.png" class="install_qr">
                    </div>
                    <a href="{{item.link_apple}}">
                        <button class="install_button install_apple" data-destination="{{item.link_apple}}">
                            Install
                            <i class="fa-icon fa-solid fa-up-right-from-square"></i>
                        </button>
                    </a>
                    {% else %}
                        <div class="unavailable_filler">Sorry, this app isn't available on this platform</div>
                    {% endif %}
                </div>
                <div class="install_option">
                    <h3>
                        <div class="os_logo">
                        <i class="fa-icon fa-brands fa-android"></i>
                        </>
                        </div>
                        <div class="os_title">
                        Android
                        </div>
                    </h3>
                    {% if "android_id" in item %}
                    <div class="image_container">
                    <img src="qr_codes/android_{{item.android_id}}.png" class="install_qr">
                    </div>
                    <a href="{{item.link_android}}">
                        <button class="install_button install_android">
                            Install
                            <i class="fa-icon fa-solid fa-up-right-from-square"></i>
                        </button>
                    </a>
                    {% else %}
                        <div class="unavailable_filler">Sorry, this app isn't available on this platform</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="footer_fill"></div>
    </body>
</html>